body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body h1 {
    background-color: white;
}

.hello {
    display: inline-block;
}

.thorimg {
    margin: 1em auto;
    width: 50%;
}

.thorimg img {
    border: 8px solid;
    border-color: white;
}